body.story-script-regular {
    background-color: #1a1a2e;
    color: rgb(19, 74, 5);
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


h1 {
    color: #c871a1;
}